<%- include('header'); -%>

<div class="box" id="heading">
  <h1><%= day %></h1>
</div>
<div class="box">
  <% for(var i=0; i<newItem.length; i++) { %>
  <div class="item">
    <input type="checkbox">
    <p><%= newItem[i] %></p>
  </div>
  <% } %>

  <form class="item" action="/" method="post">
    <input type="text" name="item" placeholder="Enter Next Item" autocomplete="off">
    <button type="submit" name="button" value=<%= day %>>+</button>
  </form>
</div>

<%- include('footer'); -%>
